# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/fontawesome/css/all.css
src/assets/fontawesome/css/all.min.css
src/assets/fontawesome/css/brands.css
src/assets/fontawesome/css/brands.min.css
src/assets/fontawesome/css/fontawesome.css
src/assets/fontawesome/css/fontawesome.min.css
src/assets/fontawesome/css/regular.css
src/assets/fontawesome/css/regular.min.css
src/assets/fontawesome/css/solid.css
src/assets/fontawesome/css/solid.min.css
src/assets/fontawesome/css/svg-with-js.css
src/assets/fontawesome/css/svg-with-js.min.css
src/assets/fontawesome/css/v4-font-face.css
src/assets/fontawesome/css/v4-font-face.min.css
src/assets/fontawesome/css/v4-shims.css
src/assets/fontawesome/css/v4-shims.min.css
src/assets/fontawesome/css/v5-font-face.css
src/assets/fontawesome/css/v5-font-face.min.css
src/assets/fontawesome/webfonts/fa-brands-400.ttf
src/assets/fontawesome/webfonts/fa-brands-400.woff2
src/assets/fontawesome/webfonts/fa-regular-400.ttf
src/assets/fontawesome/webfonts/fa-regular-400.woff2
src/assets/fontawesome/webfonts/fa-solid-900.ttf
src/assets/fontawesome/webfonts/fa-solid-900.woff2
src/assets/fontawesome/webfonts/fa-v4compatibility.ttf
src/assets/fontawesome/webfonts/fa-v4compatibility.woff2
