.navbar {
    background-color: #b08679;
    padding: 1px;
}

.navbar-brand {
    margin: 5px;
}

li a:hover {
     background-color: #fee2d1;
    color: #271c19;
}

.form-inline {    
    float: none;
    right: 0;
}

