<div class="navbar navbar-default">
  <ul>
    <li><a href="main.html" class="active" >Főoldal</a></li>
    <li><a href="new-recipe.html">Új recept</a></li>
    <li><a href="calendar.html">Naptár</a></li>
  </ul>
</div>  
  
<!--  <simple-modal elementId="searchResults" title="Matching Sessions">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let session of foundSessions"
        [routerLink]="['/events', session.id]">{{session.name}}</a>
    </div>
  </simple-modal>
  -->