<form
  #newRecipeForm="ngForm"
  (ngSubmit)="saveRecipe(newRecipeForm.value)"
  autocomplete="on"
>
  <div class="card">
    <div class="form-group row mb-2">
      <div class="col-6">
        <div class="form-group">
          <label for="recipeName">Étel neve:</label>
          <!-- <em *ngIf="!isValid(newRecipeForm.controls['name'])">*</em> -->
          <br />
          <input
            [(ngModel)]="newRecipe.name"
            name="name"
            required
            maxlength="50"
            id="name"
            type="text"
            class="form-control"
            [value]="editedRecipe?.name"
            #nameVar = "ngModel"
            [ngClass]="{ 'is-invalid': nameVar.touched && !nameVar.valid }"
          />
        </div>

        <div class="form-group">
          <label for="recipeCategory">Kategória:</label>
          <!-- <em *ngIf="!isValid(newRecipeForm.controls['categoryId'])">*</em -->
          <br />


          <select
            [(ngModel)]="newRecipe.categoryId"
            class="form-control"
            name="categoryId"
            required
            [value]="editedRecipe?.categoryId"
            id="categoryId"
            #categoryVar = "ngModel"
            [ngClass]="{ 'is-invalid': categoryVar.touched && !categoryVar.valid }"
          >
            <option
              *ngFor="let category of getCategories()"
              [value]="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="form-group">          
          <label for="recipeIngredients">Hozzávalók:</label>
          <!-- <em *ngIf="!isValid(newRecipeForm.controls['ingredients'])">*</em> -->
          <br />
          <textarea
            [(ngModel)]="newRecipe.ingredients"
            name="ingredients"
            required
            id="recipeIngredients"
            type="text"
            class="form-control"
            rows="10"
            cols="35"
            [value]="editedRecipe?.ingredients"
            #ingredientsVar = "ngModel"
            [ngClass]="{ 'is-invalid': ingredientsVar.touched && !ingredientsVar.valid }"
          ></textarea>
        </div>
      </div>

      <div class="col-6">

        <div class="form-group">
          <label for="imageUrl">Kép:</label><br />
          <input
            type="file"
            accept="image/*"
            (change)="addFile($event)"
            [(ngModel)]="newRecipe.imageUrl"
            name="imageUrl"
            id="imageUrl"                            
          />
          <br />
          <img
            [src]="imageData"
            height="150"
            required
            [(ngModel)]="newRecipe.image"            
            id="recipeImage"
            #imageVar = "ngModel"
            name="recipeImage"
            [ngClass]="{ 'is-invalid': imageVar.valid}"        
          />
        </div>
      </div>        

      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" >
          <label for="recipeInstructions">Elkészítés:</label>
          <!-- <em *ngIf="!isValid(newRecipeForm.controls['instructions'])">*</em> -->
          <br />
          <textarea
            [(ngModel)]="newRecipe.instructions"
            name="instructions"
            required
            id="recipeInstructions"
            type="text"
            class="form-control"
            rows="16"
            cols="80"
            [value]="editedRecipe?.instructions"
            #instructionsVar = "ngModel"            
            [ngClass]="{ 'is-invalid': instructionsVar.touched && !instructionsVar.valid }"

          ></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button
          type="submit"
          [disabled]="newRecipeForm.invalid"
          class="btn btn-primary"
        >
          Mentés
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default" (click)="cancel()">
          Mégsem
        </button>
      </div>
    </div>
  </div>
</form>
<!-- <br>Valid: {{newRecipeForm.valid}}
<br>Image Value: {{newRecipeForm.value | json}} -->
