<form
  #newRecipeForm="ngForm"
  (ngSubmit)="saveRecipe(newRecipeForm.value)"
  autocomplete="off"
  novalidate
>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div
          class="form-group"
          [ngClass]="{ error: !isValid(newRecipeForm.controls['name']) }"
        >
          <label for="recipeName">Étel neve:</label>
          <em *ngIf="!isValid(newRecipeForm.controls['name'])">*</em><br />
          <input
            (ngModel)="(newRecipe?.name)"
            name="name"            
            required
            id="name"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">                  
        <label for="recipeCategory">Kategória:</label><br>
        <select (ngModel)="(newRecipe?.categoryId)" class="form-control" name="categoryId" required id="categoryId">
            <option *ngFor="let category of getCategories()" [value]="category.id" >{{category.name}}</option>
        </select>          
        </div>

        <div>
          <label for="imageUrl">Kép:</label><br>
          <input type='file' accept="image/*" (change)="addFile($event)" (ngModel)="(newRecipe?.imageUrl)" required name="imageUrl" id="imageUrl">
          <br/>        
          <img [src]="imageData" height="150" (ngModel)="(newRecipe?.image)" id="image"/>                
        </div>

      </div>

      
    
      <div class="col-6">
        <div
          class="form-group"
          [ngClass]="{ error: !isValid(newRecipeForm.controls['ingredients']) }"
        >
          <label for="recipeIngredients">Hozzávalók:</label>
          <em *ngIf="!isValid(newRecipeForm.controls['ingredients'])">*</em>
          <br />
          <textarea
            (ngModel)="(newRecipe?.ingredients)"
            name="ingredients"
            required
            id="recipeIngredients"
            type="text"
            class="form-control"
            rows="10"
            cols="35"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          class="form-group"
          [ngClass]="{
            error: !isValid(newRecipeForm.controls['instructions'])
          }"
        >
          <label for="recipeInstructions">Elkészítés:</label>
          <em *ngIf="!isValid(newRecipeForm.controls['instructions'])">*</em>
          <br />
          <textarea
            (ngModel)="(newRecipe?.instructions)"
            name="instructions"
            required
            id="recipeInstructions"
            type="text"
            class="form-control"
            rows="16"
            cols="80"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button
            type="submit"
            [disabled]="newRecipeForm.invalid"
            class="btn btn-primary"
          >
            Mentés
          </button>    
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" (click)="cancel()">
                Mégsem
              </button>        
        </div>
    </div>
  </div>
</form>
