.thumbnail  { 
    min-height: 74px;   
  }
  li.header { font-size: 16px;}
  .category { 
    font-size: 12px;
  }
  ul { 
    list-style-type: none; 
    padding-inline-start: 5px;
    padding: 5px;
  }   
  img { 
    float:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 84px;
    object-fit: cover;
    border: solid 3px;
  } 
[data-color="1"] {    
    border-color: lightgrey;
    color: lightgrey;
}
[data-color="2"] {
    border-color: lightseagreen;
    color: lightseagreen;
}
[data-color="3"] {
    border-color: rgb(29, 188, 29);;
    color: rgb(29, 188, 29);
}
[data-color="4"] {
    border-color: yellow;
    color: yellow;
}
[data-color="5"] {
    border-color: rgb(167, 79, 167);
    color: rgb(167, 79, 167);
}
[data-color="6"] {
    border-color: lightseagreen;
    color: lightseagreen;
}
[data-color="7"] {
  border-color: white;
  color: white;
}
[data-color="8"] {
  border-color: palevioletred;
  color: palevioletred;
}