.recipe-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  p {
    cursor: text;
    /* background-color: #b08679;
    color: #271c19; */
  }
  h4 {
    cursor: default;
  }
  .text-style {
    white-space: pre-wrap
  }
  .row, i {
    padding: 10px;   
  }

  .fa:hover {
    color: #ffc0ad;
    cursor: pointer;
  }

  .container {
    background-color: #55423d;
    
  }
  .print {
    background-color: white;
    color: black;
  }  
  .hidden {
    display: none;
}

