<div class="container">
    <div *ngFor="let recipe of recipes | paginate: { id: 'pagingId', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItemCount }" class="row">
      <div class="col-md"></div>
      <div class="col-md-8">
      <recipe-thumbnail  [recipe]="recipe" [category]="getCategory(recipe.categoryId)"         (eventClick)="handleThumbnailClicked(recipe.categoryId)" ></recipe-thumbnail>
      <hr>
      </div>
      <div class="col-md"></div>
    </div>
</div>
<pagination-controls id="pagingId" class="recipe-pagination" (pageChange)="pageChanged($event)"></pagination-controls>