<div class="container-fluid">
  <div class="row" >
    <h2 >{{ recipe?.name }}</h2>
  </div>

  <div class="row">
    <!--https://mdbootstrap.com/docs/angular/layout/grid/ -->

    <div class="col-6">          
          <p class="text-style">{{getCategory(recipe)}}</p>
          <h4>Hozzávalók:</h4>
          <p class="text-style">{{ recipe?.ingredients }}</p>
        
    </div>

    <div class="col-6">
      <img
      [src]="recipe?.image"
      [alt]="recipe?.name"
      class="recipe-image"            
    />       

    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Elkészítés:</h4>
      <p class="text-style"> {{ recipe?.instructions }}</p>
    </div>
  </div>
</div>
