<div class="container">
  <div class="row">

    <!--https://mdbootstrap.com/docs/angular/layout/grid/ -->

    <div class="col-6">

        <h2>{{ recipe?.name }}</h2>
        
          <img
            [src]="recipe?.imageUrl"
            [alt]="recipe?.name"
            class="recipe-image"            
          />        
      
    </div>

    <div class="col-6">
        <h3>Hozzávalók:</h3>
        <p class="text-style">{{ recipe?.ingredients }}</p>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Elkészítés:</h3>
      <p class="text-style"> {{ recipe?.instructions }}</p>
    </div>
  </div>
</div>
