/* You can add global styles to this file, and also import other style files */
* {
    -webkit-font-smoothing: antialiased;   
    --bs-body-bg: #55423d;
}


@font-face {
    font-family: Comfortaa;
    src: url(./assets/Comfortaa-VariableFont_wght.ttf);
  }      

.hoverwell:hover {
    background-color: #ffc0ad;   
    color: #271c19; 
    cursor: pointer;
  }  
.container-fluid {
    background-color : #55423d;
    font-family: Comfortaa;
    color: #fff3ec;
}

.container {
  background-color : #55423d;
  font-family: Comfortaa;
  color: #fff3ec;
}

.topbar {
    color: #fffffe;
    vertical-align: middle;    
}

.form-control:focus {
  border-color: #e78fb3;
  border-width: 2px;
  outline: 0;  
  box-shadow: 0 0 0;
}

input.ng-invalid.ng-touched {
    border: red 2px solid;
}

.button-class {
    background-color: #ffc0ad;
    color: #271c19;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-family: Comfortaa;
}

.btn-primary:disabled,
.btn-primary[disabled]{  
  background-color: #ffc0ad;
  color: #666666;
}


.btn-primary{  
  background-color: #ffc0ad;
  color: #fffffe;
}

.btn-primary:hover{  
    background-color: #55423d;
    color: #ffc0ad;
  }